---
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout
  title="Clipwise AI"
  description="Clipwise AI is a browser extension that converts webpages to Markdown format."
>
  <main>
    <h1>Clipwise AI</h1>
  </main>
</RootLayout>
