---
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout>
  <main id="main-content">
    <article>
      <header>
        <h1>Clipwise AI</h1>
      </header>
      <section>
        <p>
          Clipwise AI is a browser extension that converts webpages to Markdown
          format.
        </p>
      </section>
    </article>
  </main>
</RootLayout>
