---
import iconUrl from "@/assets/icon.svg?no-inline";
import SEO from "@/components/seo.astro";
import SiteFooter from "@/components/site-footer.astro";
import SiteHeader from "@/components/site-header.astro";
import { siteConfig } from "@/lib/site-config";
import "@/styles/global.css";
import type { ComponentProps } from "astro/types";

type Props = ComponentProps<typeof SEO>;
---

<html lang={siteConfig.locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={iconUrl} type="image/svg+xml" sizes="any" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO {...Astro.props} />
  </head>
  <body>
    <SiteHeader />
    <slot />
    <SiteFooter />
  </body>
</html>
